<div class="contact-container">
    <h1 class="contact-heading">Contact Us</h1>
</div>
<h1>@ViewData["Title"]</h1>
<div style="background-color: white; padding: 15px; text-align: center;">
    <p> James Khumalo</p>
    <p>Phone: +27 87-544-3521</p>
    <p>Email: khumalo.craft@gmail.com</p>

    <p> Kelly Khumalo</p>
    <p>Phone: +27 65-52-6453</p>
    <p>Email: kelly.khumalo@gmail.com</p>
</div>
